@model SysContabil.Models.LancamentoViewModel

@{
    ViewData["Title"] = "Criar";
}
<h2>Novo lançamento</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataDoPlano" class="control-label"></label>
                <input type="date" asp-for="DataDoPlano" class="form-control" />
                <span asp-validation-for="DataDoPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debito" class="control-label"></label>
                <input asp-for="Debito" class="form-control" />
                <span asp-validation-for="Debito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credito" class="control-label"></label>
                <input asp-for="Credito" class="form-control" />
                <span asp-validation-for="Credito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReciboFiscal" class="control-label"></label>
                <input asp-for="ReciboFiscal" class="form-control" />
                <span asp-validation-for="ReciboFiscal" class="text-danger"></span>
            </div>
            <div class="text-success text-center">
                @if (TempData["Mensagem"] != null)
                {
                <div class="text-success">
                    <hr />
                    @TempData["Mensagem"]
                    <hr />
                </div>
                }
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
                <div class="col-md-4">
                    <a type="button" class="btn btn-outline-primary" asp-controller="Lancamento" asp-action="Criar">Novo</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
